<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fab fa-connectdevelop"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Office Link</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Dashboard -->
  <div class="sidebar-heading headingText">
    Reporting
  </div>
  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="index.html">
      <i class="fas fa-chart-area"></i>
      <span>Survey Report</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading headingText">
    Human Resource
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-user"></i>
      <span>Account</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="team">
      <i class="fas fa-user-friends"></i>
      <span>Team</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="department">
      <i class="fas fa-building"></i>
      <span>Department</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="location">
      <i class="fas fa-map-marker-alt"></i>
      <span>Location</span>
    </a>
  </li>



  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading headingText">
    Resource Management
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-newspaper"></i>
      <span>News</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="survey">
      <i class="fas fa-clipboard"></i>
      <span>Survey</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-filter"></i>
      <span>Word Cloud Filter</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
