<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Assign member</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Location(*)</label>
          <select class="form-control" name="location" #location="ngModel" [(ngModel)]="locationId"
            [ngClass]="{'is-invalid' : (location.invalid && (location.dirty || location.touched))}" required>
            <option *ngIf="account.location.name != null" selected disabled [value]="0">{{account.location.name}}
            </option>
            <option [value]="0">Choose location</option>

            <option *ngFor="let item of locationList" [value]="item.id">{{item.name}}</option>
          </select>

        </div>

        <div class="form-group">
          <label>Department(*)</label>
          <select class="form-control" (change)="loadTeam($event)" [disabled]="choosenTeamList.length > 0"
            [(ngModel)]="choosenDep">
            <option [value]="0">All Department</option>
            <option *ngFor="let department of departmentList" [value]="department.id">{{department.name}}
            </option>
          </select>
          <p [hidden]="!(choosenTeamList.length > 0)" style="font-size: 14px">Remove all assigned team to choose another
            department</p>

        </div>
        <div class="form-group">
          <label>Team(*)</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <select class="form-control" name="team" #location="ngModel" [(ngModel)]="teamId"
                [disabled]="teamList == undefined || teamList.length == 0" (change)="chooseTeam($event)">
                <option [value]="0">Choose team</option>
                <option *ngFor="let item of teamList; let i = index" [value]="item.id">{{item.name}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-success" (click)="assignTeam()"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
            <label>Team List(*)</label>
            <button class="btn btn-danger btn-sm btn-icon-split" (click)="removeAllTeam()">
              <span class="icon text-white-50">
                  <i class="fas fa-trash-alt"></i>
              </span>
              <span class="text">Remove all team</span>
            </button>
          </div>
        <div class="invitation-box">

          <span class="badge badge-primary" *ngFor="let item of displayTeam; let i = index">
            {{item}} <button class="btn-primary borderless"><i class="fas fa-times"
                (click)="assignRemove(i)"></i></button>
          </span>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="assign()">Assign</button>
    </div>
  </div>
</div>
