<div class="">
  <div class="modal-lg-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Profile</h5>
       
      </div>
   

      <div class="row">
          <div class="row col-sm-6">
            <div class="modal-body">
              <form #teamForm="ngForm">
                <div class="form-group">
                  <span  style="color: red" *ngIf="requestStatus == 200" >Update success</span><br/>
                  <label>Email</label>
                  <input class="form-control" name="account.email" [(ngModel)]="account.email" readonly  />
                  <label>First name</label>
                  <input type="text" class="form-control form-control-user" name = "firstname" #firstname = "ngModel" placeholder="First Name" [(ngModel)] = account.firstname 
                  [ngClass]="{'is-invalid' : (firstname.invalid && (firstname.dirty || firstname.touched))}" required
                  pattern="^[a-zA-Z0-9._-\s]*$"
                  />
                  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
                    <div *ngIf="firstname.errors.required">
                      First name required
                    </div>
                    <div *ngIf="firstname.errors.pattern">
                      First name can't contain special character except "_-."
                    </div>
                    
                  </div>
                  <label>Last name</label>
                  <input type="text" class="form-control form-control-user" name="lastname" #lastname = "ngModel" placeholder="Last Name" [(ngModel)] = account.lastname
                          [ngClass]="{'is-invalid' : (lastname.invalid && (lastname.dirty || lastname.touched))}" required
                          pattern="^[a-zA-Z0-9._-\s]*$"
                          />
                          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
                            <div *ngIf="lastname.errors.required">
                              Last name required
                            </div>
                            <div *ngIf="lastname.errors.pattern">
                              Last name can't contain special character except "_-."
                            </div>
                            
                          </div>
                
                  
                </div>
              </form>
            </div>
            
    
          </div>

          <div class="col-sm-6">
            <div class="modal-body">
              <form #teamForm="ngForm">
                <div class="form-group">
                  <span  style="color: red" *ngIf="requestStatus == 201" >Update success</span><br/>
                  
                  
                  <label>Current password</label>
                  <input type="password" class="form-control form-control-user" name = "password" #password = "ngModel" placeholder="Current password" [(ngModel)] = "currentPasswordText" 
                  [ngClass]="{'is-invalid' : (password.invalid && (password.dirty || password.touched))}" required
                  minlength="6" maxlength="15"
                  />
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <div *ngIf="password.errors.required">
                      Password required
                    </div>

                    <div *ngIf="password.errors.minlength || password.errors.maxlength">
                      Password must be 6-15 characters
                    </div>

                  </div>
                  
                  <label>New password</label>
                  <input type="password" class="form-control form-control-user" name="newpassword" #newpassword = "ngModel" placeholder="New password" [(ngModel)] = "newPasswordText"
                          [ngClass]="{'is-invalid' : (newpassword.invalid && (newpassword.dirty || newpassword.touched))}" required
                          minlength="6" maxlength="15"
                          />
                          <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)" class="text-danger">
                            <div *ngIf="newpassword.errors.required">
                              New password required
                            </div>
        
                            <div *ngIf="newpassword.errors.minlength || newpassword.errors.maxlength">
                              New password must be 6-15 characters
                            </div>
        
                          </div>
                  <label>Confirm new password</label>
                  <input type="password" class="form-control form-control-user" name = "confirmpassword" #confirmpassword = "ngModel" placeholder="Confirm new password" [(ngModel)] = "confrimPasswordText"
                          [ngClass]="{'is-invalid' : (confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched))}" required
                          pattern="{{newPasswordText}}"
                          />
                          <div *ngIf="confirmpassword.invalid && (newpassword.dirty || confirmpassword.touched)" class="text-danger">
                            
                            <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="text-danger">
                              <div *ngIf="confirmpassword.errors.pattern">
                                Confirm passsword is different from new password
                              </div>
                            </div>
              
        
                          </div>
                         
           
                </div>
              </form>
            </div>
    
          </div>
          
    

      </div>
      
      <div class="modal-footer">
     
        <div class="row col-sm-6"> 
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="changeProfile()"  >Change Profile</button>
            
          </div>
        
      
        <div class="col-sm-6">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="changePassword()"   >Change Password</button>
          </div>
        </div>

       
     
    </div>
  </div>
</div>