<app-login *ngIf="!isLogin" (activeSurvey)="activeSurvey()"></app-login>
<div class="modal-lg modal-dialog" *ngIf="isLogin">
  <div class="modal-content">
    <div class="modal-header bg-success" style="color: white">
      <div class="col-sm-10 noPadding">
        <h5>Feedback: {{survey.name}}</h5>
      </div>
    </div>
    <div class="modal-body" style="padding-left: 24px">
      <div *ngFor="let q of survey.questions; let i = index">
        <b><i class="far fa-question-circle"></i> {{q.question}}</b>

        <div class="form-group">
          <label>Answer:</label>
          <!--Free Text-->
          <input type="text" [required]="q.required" class="form-control" *ngIf="q.type.type == 'TEXT'" [(ngModel)]="answers[i].content" />
          <!--Single Choice-->
          <div *ngIf="q.type.type == 'SINGLE'">
            <div class="form-check" *ngFor="let option of q.options">
              <div class="row row-padding-bot">
                <div class="col-sm-1 row align-content-center d-flex justify-content-center">
                  <input type="radio" class="radio-big" name="{{q.id}}" [value]="option.id +''"
                    [(ngModel)]="answers[i].content" [required]="q.required"/>
                </div>
                <div class="col-sm-10 option">
                  {{option.answerText}}
                </div>

              </div>
            </div>
          </div>
          <!--Mutiple Choice-->
          <div *ngIf="q.type.type == 'MULTIPLE'">
            <div class="form-check" *ngFor="let option of q.options">
              <div class="row row-padding-bot">
                <div class="col-sm-1 row align-content-center d-flex justify-content-center">
                  <input type="checkbox"[required]="q.required" class="radio-big" [value]="option.id + ''" (click)="multipleAnswer(option.id,i)" />
                </div>
                <div class="col-sm-10 option">
                  {{option.answerText}}
                </div>

              </div>
            </div>
          </div>
        </div>

        <hr>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="saveAnswer()">Done</button>
    </div>
  </div>
</div>
