<h2>Workplace News</h2>
<div class="row" *ngFor="let news of listNews" style="height: 150px">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-5 card border-left-primary shadow h-100 py-2">
    <a [routerLink]="['/news/'+ news.id +'/detail']" routerLinkActive="router-link-active">
      <h4>{{news.title}}</h4>
    </a>
    <p>{{news.shortDescription}}</p>
    <p>{{news.dateCreated | date}}</p>
  </div>
  <div class="col-sm-3">
    <img [src]="'data:image/jpeg;base64,' + news.byte_image" style='height: 150px; object-fit: contain'
      class="border border-primary" [routerLink]="['/news/'+ news.id +'/detail']" routerLinkActive="router-link-active"  />
  </div>
  <div class="col-sm-2">

  </div>
</div>
