<h2>Workplace News</h2>
<div class="row" *ngFor="let news of listNews" style="height: 150px">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-5 card border-left-primary shadow h-100 py-2" style="text-overflow:ellipsis">
    <a [routerLink]="['/news/'+ news.id +'/detail']" routerLinkActive="router-link-active" title="{{news.title}}">
      <h4 class="text-over-flow">{{news.title}}</h4>
    </a>
    <p class="text-over-flow" style="padding-bottom: 50px">{{news.shortDescription}}</p>
    <p>{{news.dateCreated | date}}</p>
  </div>
  <div class="col-sm-3">
    <img [src]="'data:image/jpeg;base64,' + news.byte_image" style='height: 150px; width: 300px'
      class="border border-primary" [routerLink]="['/news/'+ news.id +'/detail']" routerLinkActive="router-link-active"  />
  </div>
  <div class="col-sm-2">

  </div>
</div>
