<div class="modal-lg modal-dialog" [hidden]="showDetail">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Choose Question</h5>
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--Search Question-->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="currentCategory" (change)="changeCategory()">
              <option [ngValue]="0">-All Category-</option>
              <option *ngFor="let category of categoryList" [ngValue]="category.id">
                {{category.name}}
              </option>
            </select>
          </div>
          <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="currentType" (change)="changeType()">
              <option [ngValue]="0">-All Type-</option>
              <option *ngFor="let type of typeList" [ngValue]="type.id">
                {{typeEnum[type.type]}}
              </option>
            </select>
          </div>
        </div>
        <div class="row row-padding-bot">
          <div class="col-sm-12">
            <input class="form-control" placeholder="What are you looking for ??" (input)="filter()"
              [(ngModel)]="term" />
          </div>
        </div>
      </div>
      <!--List question-->
      <div class="d-flex justify-content-end">
        <div class="row align-content-center" style="padding-bottom: 0px; margin-right: 12px">
          Page: {{currentPage}} of {{maxPage}}
        </div>
        <button class="btn btn-light" style="border-radius: 0px" [disabled]="currentPage == 1"
          (click)="loadPage(currentPage - 1)"><i class="fas fa-chevron-left"></i></button>
        <button class="btn btn-light" style="border-radius: 0px" [disabled]="currentPage == maxPage"
          (click)="loadPage(currentPage + 1)"><i class="fas fa-chevron-right"></i></button>
      </div>
      <div class="modal-content modal-body list">
        <div class="d-flex justify-content-center" *ngIf="itemList.length == 0">
          <h5>No template found</h5>
        </div>
        <div class="row" *ngFor="let item of itemList">
          <div class="col-sm-10 row align-content-center">
            <div>
              {{item.question}}
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-info" (click)="viewDetail(item)" style="margin-right: 6px">
              <i class="fas fa-info-circle"></i>
            </button>
            <button class="btn btn-success" (click)="chooseQuestion(item)" [disabled]="checkChoosen(item)">
              <i class="fas fa-plus"></i>
            </button>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--Detail-->
<div class="modal-dialog modal-lg" *ngIf="showDetail && detailQuestion != undefined ">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Question Detail</h5>
      <button type="button" class="close" (click)="closeDetail()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <b><i class="far fa-question-circle"></i> {{detailQuestion.question}}</b>
        <br>
        <span><b>Metric: </b>{{detailQuestion.category.name}}</span>
        <br>
        <span><b>Type: </b>{{typeEnum[detailQuestion.type.type]}}</span>
        <div class="form-group">
          <label>Answer:</label>
          <!--Free Text-->
          <input type="text" class="form-control" *ngIf="detailQuestion.type.type == 'TEXT'" />
          <!--Single Choice-->
          <div *ngIf="detailQuestion.type.type == 'SINGLE'">
            <div class="form-check" *ngFor="let option of detailQuestion.options">
              <div class="row row-padding-bot">
                <div class="col-sm-1 row align-content-center d-flex justify-content-center">
                  <input type="radio" class="radio-big" disabled />
                </div>
                <div class="col-sm-10 option">
                  {{option.answerText}}
                </div>

              </div>
            </div>
          </div>
          <!--Mutiple Choice-->
          <div *ngIf="detailQuestion.type.type == 'MULTIPLE'">
            <div class="form-check" *ngFor="let option of detailQuestion.options">
              <div class="row row-padding-bot">
                <div class="col-sm-1 row align-content-center d-flex justify-content-center">
                  <input type="checkbox" class="radio-big" disabled (click)="multipleAnswer(option.id,i)" />
                </div>
                <div class="col-sm-10 option">
                  {{option.answerText}}
                </div>

              </div>
            </div>
          </div>
          <div *ngIf="detailQuestion.type.type == 'RATE'">
            <app-rating></app-rating>
          </div>
          <div *ngIf="detailQuestion.type.type == 'VAS'">
            <app-vas></app-vas>
          </div>
        </div>

        <hr>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="closeDetail()">Back</button>
    </div>
  </div>
</div>
