<div class="modal-lg modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Choose your template</h5>
    </div>
    <div class="modal-body">
      <!--Search Question-->
      <div class="d-flex justify-content-end">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="What are you looking for ?" [(ngModel)]="term" (input)="filter()">
          <div class="input-group-append">
            <button class="btn btn-info">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <!--List question-->
      <div class="d-flex justify-content-end">
        <div class="row align-content-center" style="padding-bottom: 0px; margin-right: 12px">
          Page: {{currentPage}} of {{maxPage}}
        </div>
        <button class="btn btn-light" style="border-radius: 0px" [disabled]="currentPage == 1" (click)="loadPage(currentPage - 1)"><i class="fas fa-chevron-left" ></i></button>
        <button class="btn btn-light" style="border-radius: 0px" [disabled]="currentPage == maxPage" (click)="loadPage(currentPage + 1)"><i class="fas fa-chevron-right" ></i></button>
      </div>
      <div class="modal-content modal-body list">
        <div class="d-flex justify-content-center" *ngIf="itemList.length == 0">
          <h5>No record found</h5>
        </div>
        <div class="row">
          <div class="col-sm-9 row align-content-center">
            <div>
              <b>New Blank Survey</b>
            </div>
          </div>
          <div class="col-sm-2 d-flex justify-content-center">
          </div>
          <div class="col-sm-1">
            <button class="btn btn-success" (click)="newBlank()"><i class="fas fa-check"></i></button>
          </div>
        </div>
        <div class="row" *ngFor="let item of itemList">
          <div class="col-sm-9 row align-content-center">
            <div>
              {{item.name}}
            </div>
          </div>
          <div class="col-sm-2 d-flex justify-content-center">
          </div>
          <div class="col-sm-1">
            <button class="btn btn-success" (click)="getTemplate(item.id)"><i class="fas fa-check"></i></button>
          </div>
        </div>
        <button (click)="loadMore()" class="btn btn-primary" *ngIf="currentPage < maxPage">Load More</button>
      </div>
    </div>

  </div>
</div>
