.radio-big {
  width: 24px;
  height: 24px;
}
i {
  padding: 2px;
}
.option {
  margin-bottom: 3px;
  margin-top: 3px;
}
.add-btn {
  margin-top: 12px;
}
.no-padding{
  padding: 0px;
}
.row-padding-bot {
  padding-bottom: 12px;
}
