<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">New Question</h5>
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #createForm="ngForm">
        <!--Question + Types-->
        <div class="row row-padding-bot">
          <div class="col-sm-9">
            <input class="form-control" placeholder="Question(*)" name="question" #question="ngModel"
              [(ngModel)]="quest.question" required maxlength="150"
              [ngClass]="{'is-invalid': (question.invalid && (question.dirty || question.touched))}" />
            <div *ngIf="question.invalid && (question.dirty || question.touched)" class="text-danger">
              <div *ngIf="question.errors.required">
                Please input your question
              </div>
            </div>
            <div *ngIf="(question.dirty || question.touched) && (quest.question != undefined)">
              <div *ngIf="quest.question.length == 150" class="text-info">
                Question can not exceed 150 characters
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <select class="form-control" [(ngModel)]="quest.type" name="type">
              <option [ngValue]="undefined">-Choose Question Type-</option>
              <option *ngFor="let type of typeList" [ngValue]="type">{{typeEnum[type.type]}}</option>
            </select>
          </div>
        </div>
        <!--Answer-->
        <div *ngIf="quest.type != undefined">
          <!--Multiple Choice-->
          <div *ngIf="quest.type.type == 'MULTIPLE' || quest.type.type == 'SINGLE'">
            <div class="form-check" *ngFor="let option of quest.options; let i = index">
              <div class="row row-padding-bot">
                <div class="col-sm-1 row align-content-center d-flex justify-content-center">
                  <input type="radio" class="radio-big" disabled *ngIf="quest.type.type == 'SINGLE'" />
                  <input type="checkbox" class="radio-big" disabled *ngIf="quest.type.type == 'MULTIPLE'" />
                </div>
                <div class="col-sm-10 option">
                  <input type="text" class="form-control" placeholder="Option {{i + 1}} (*)" maxlength="50"
                    [(ngModel)]="quest.options[i].answerText" name="option{{i}}" #option{{i}}="ngModel" required />

                </div>
                <div class="col-sm-1 row align-content-center d-flex justify-content-center">
                  <button class="btn btn-danger" (click)="deleteOption(i)"
                  [disabled]="quest.options.length == 1"
                  ><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div *ngIf="quest.options[i].answerText != undefined">
                <div *ngIf="quest.options[i].answerText.length == 50" class="text-info">
                  Option can not exceed 50 characters
                </div>
                <div *ngIf="quest.options[i].answerText.length == 0" class="text-danger">
                  Please fill in this option
                </div>
              </div>
            </div>
            <div class="form-group add-btn">
              <button class="btn btn-primary" (click)="addOption()">Add More Option</button>
            </div>
          </div>

          <!--Free Text-->
          <div *ngIf="quest.type.type == 'TEXT'">
            <div class="row">
              <label class="col-sm-2" style="text-align: center ">Answer: </label>
              <input placeholder="Free Text Answer" class="form-control col-sm-9" readonly />
            </div>
          </div>
        </div>


      </form>


    </div>
    <div class="modal-footer">
      <div class="col-sm-6">
        <h4><span class="badge badge-pill badge-success" *ngIf="requestStatus == 200">Success</span></h4>
        <h4><span class="badge badge-pill badge-danger" *ngIf="requestStatus == 400">Fail</span></h4>
      </div>
      <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
        <button type="button" class="btn btn-success" (click)="save()"
          [disabled]="(requestStatus ==1) || createForm.invalid || (quest.type == undefined)">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            *ngIf="requestStatus == 1"></span>
          <span *ngIf="requestStatus == 0">Save</span>
          <span *ngIf="requestStatus == 200">New Import</span>
        </button>
      </div>
    </div>
  </div>
</div>
