<div (click)="enableEditMode()" [ngClass]="{'shadow': isEditMode}" class="modal-body">
  <form #createForm="ngForm">
    <!--Question + Types-->
    <div class="row row-padding-bot">
      <div class="col-sm-9">
        <input class="form-control" placeholder="Question" name="question" #question="ngModel"
          [(ngModel)]="quest.question" required [disabled]="!isNew"
          [ngClass]="{'is-invalid': (question.invalid && (question.dirty || question.touched))}" />
        <div *ngIf="question.invalid && (question.dirty || question.touched)" class="text-danger">
          <div *ngIf="question.errors.required">
            Please input your question
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <select class="form-control" [(ngModel)]="quest.type" name="type">
          <option *ngFor="let type of typeList" [ngValue]="type" [selected]="quest.type.id == type.id">
            {{typeEnum[type.type]}}</option>
        </select>
      </div>
    </div>
    <!--Answer-->
    <div *ngIf="quest.type != undefined">
      <!--Multiple Choice-->
      <div *ngIf="quest.type.type == 'MULTIPLE' || quest.type.type == 'SINGLE'">
        <div class="form-check" *ngFor="let option of quest.options; let i = index">
          <div class="row row-padding-bot">
            <div class="col-sm-1 row align-content-center d-flex justify-content-center">
              <input type="radio" class="radio-big" disabled *ngIf="quest.type.type == 'SINGLE'" />
              <input type="checkbox" class="radio-big" disabled *ngIf="quest.type.type == 'MULTIPLE'" />
            </div>
            <div class="col-sm-10 option">
              <input type="text" class="form-control" placeholder="Option {{i + 1}}" [disabled]="!isNew"
                [(ngModel)]="quest.options[i].answerText" name="option{{i}}" #option{{i}}="ngModel" required />
            </div>

            <div class="col-sm-1 row align-content-center d-flex justify-content-center" *ngIf="isEditMode">
              <button class="btn btn-danger" (click)="deleteOption(i)" *ngIf="isNew"><i
                  class="fas fa-times"></i></button>
            </div>
          </div>
        </div>
        <div class="form-group add-btn" *ngIf="isEditMode">
          <button class="btn btn-primary" (click)="addOption()" *ngIf="isNew">Add More Option</button>
        </div>
      </div>
      <!--Free Text-->
      <div *ngIf="quest.type.type == 'TEXT'" class="form-group">
        <div class="row">
          <label class="col-sm-2" style="text-align: center ">Answer: </label>
          <input placeholder="Free Text Answer" class="form-control col-sm-9" readonly />
        </div>
      </div>
    </div>


  </form>

  <div class="modal-footer" *ngIf="isEditMode">
    <button class="btn btn-primary" (click)="moveUp()" [disabled]="index == 0"><i class="fas fa-arrow-up"></i></button>
    <button class="btn btn-primary" (click)="moveDown()" [disabled]="index == lastIndex"><i
        class="fas fa-arrow-down"></i></button>
    <button class="btn btn-danger" (click)="deleteQuestion()"><i class="fas fa-trash"></i></button>
  </div>
</div>
