<div (click)="enableEditMode()" [ngClass]="{'shadow': isEditMode}" class="modal-body">
  <form>
    <!--Question + Types-->
    <div class="row row-padding-bot">
      <div class="col-sm-6 form-group">
        <div *ngIf="isEditMode && isNew; else showCategory">
          <select class="form-control" [(ngModel)]="quest.category" name="category">
            <option [ngValue]="undefined">-Choose Question Category-</option>
            <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
        <ng-template #showCategory>
          <div *ngIf="(quest.category != undefined); else noCategory">
            <b>{{quest.category.name}}</b>
          </div>
          <ng-template #noCategory>
            <b>Category is not choosen</b>
          </ng-template>

        </ng-template>
      </div>
      <div class="col-sm-6 form-group">
        <div *ngIf="isEditMode && isNew; else showType">
          <select class="form-control" [(ngModel)]="quest.type" name="type" (change)="updateType()">
            <option [ngValue]="undefined">-Choose Question Type-</option>
            <option *ngFor="let type of typeList" [ngValue]="type">
              {{typeEnum[type.type]}}</option>
          </select>
        </div>
        <ng-template #showType>
          <div *ngIf="(quest.type != undefined); else noType">
            <b>{{typeEnum[quest.type.type]}}</b>
          </div>
          <ng-template #noType>
            <b>Type is not choosen</b>
          </ng-template>
        </ng-template>
      </div>
      <div class="col-sm-12">
        <div [hidden]="!(isEditMode && isNew)">
          <input class="form-control" placeholder="Question" name="question" #question="ngModel"
            [(ngModel)]="quest.question" required maxlength="150"
            [ngClass]="{'is-invalid': (question.invalid && (question.dirty || question.touched))}" />
          <div *ngIf="question.invalid && (question.dirty || question.touched)" class="text-danger">
            <div *ngIf="question.errors.required">
              Please input your question
            </div>

          </div>
          <div *ngIf="(question.dirty || question.touched) && (quest.question != undefined)">
            <div *ngIf="quest.question.length == 150" class="text-primary">
              Question can not exceed 150 characters
            </div>
          </div>
        </div>
        <div [hidden]="isEditMode && isNew">
          <div *ngIf="quest.question == undefined || quest.question.length == 0; else notEmpty">
            <b class="text-primary">This question is empty, please click to edit</b>
          </div>
          <ng-template #notEmpty>
            <b>{{quest.question}}</b>
          </ng-template>
        </div>
      </div>

    </div>
    <!--Answer-->
    <div *ngIf="quest.type != undefined">
      <!--RATING-->
      <div *ngIf="quest.type.type == 'RATE'">
        <app-rating></app-rating>
      </div>

      <!--VAS-->
      <div *ngIf="quest.type.type == 'VAS'">
        <app-vas></app-vas>
      </div>
      <!--Multiple Choice-->
      <div *ngIf="quest.type.type == 'MULTIPLE' || quest.type.type == 'SINGLE'">
        <div class="form-check" *ngFor="let option of quest.options; let i = index">
          <div class="row row-padding-bot">
            <div class="col-sm-1 row align-content-center d-flex justify-content-center">
              <input type="radio" class="radio-big" disabled *ngIf="quest.type.type == 'SINGLE'" />
              <input type="checkbox" class="radio-big" disabled *ngIf="quest.type.type == 'MULTIPLE'" />
            </div>
            <div class="col-sm-10 option">
              <div [hidden]="!(isEditMode && isNew)">
                <input type="text" class="form-control" placeholder="Option {{i + 1}}" maxlength="50"
                  [(ngModel)]="quest.options[i].answerText" required [ngModelOptions]="{standalone: true}" />
              </div>
              <div [hidden]="isEditMode && isNew">
                <div
                  *ngIf="quest.options[i].answerText == undefined || quest.options[i].answerText.length == 0; else emptyOp">
                  <b class="text-primary">This option is empty, please click to edit</b>
                </div>
                <ng-template #emptyOp>
                  <b>{{quest.options[i].answerText}}</b>
                </ng-template>
              </div>
            </div>

            <div class="col-sm-1 row align-content-center d-flex justify-content-center" *ngIf="isEditMode">
              <button class="btn btn-danger" (click)="deleteOption(i)" *ngIf="isNew"
                [disabled]="quest.options.length <= 2"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div *ngIf="quest.options[i].answerText != undefined">
            <div *ngIf="quest.options[i].answerText.length == 50" class="text-primary">
              Option can not exceed 50 characters
            </div>
            <div *ngIf="quest.options[i].answerText.length == 0" class="text-danger">
              Please fill in this option
            </div>
          </div>
        </div>
        <div class="form-group add-btn" *ngIf="isEditMode">
          <button class="btn btn-primary" (click)="addOption()" *ngIf="isNew">
            Add More Option
          </button>
        </div>
      </div>
      <!--Free Text-->
      <div *ngIf="(quest.type.type == 'TEXT') && (isEditMode)" class="form-group">
        <div class="row">
          <label class="col-sm-2" style="text-align: center ">Answer: </label>
          <input placeholder="Free Text Answer" class="form-control col-sm-9" readonly />
        </div>
      </div>
    </div>


  </form>

  <div class="modal-footer" *ngIf="isEditMode">

    <button class="btn btn-primary" (click)="moveUp()" [disabled]="index == 0"><i class="fas fa-arrow-up"></i></button>
    <button class="btn btn-primary" (click)="moveDown()" [disabled]="index == lastIndex"><i
        class="fas fa-arrow-down"></i></button>
    <button class="btn btn-danger" (click)="deleteQuestion()"><i class="fas fa-trash"></i></button>
    <div class="custom-control custom-switch text-primary">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="quest.required">
      <label class="custom-control-label" for="customSwitch1">Required</label>
    </div>

  </div>
</div>