<div class="">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Word Cloud Filter</h5>
        <button type="button" class="close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #filterForm="ngForm">
          <div class="row form-group">
            <div class="col-sm-7">
              <label>
                Filter Name<span class="text-danger">*</span>
              </label>
              <input class="form-control" name="name" #name="ngModel" [(ngModel)]="filter.name" required maxlength="100"
                [ngClass]="{'is-invalid': ((name.invalid) && (name.dirty || name.touched)) || isExisted}"
                (input)="checkIsExisted()" placeholder="Input Filter name" />
              <div *ngIf="(name.invalid) && (name.dirty || name.touched)" class="text-danger">
                <div *ngIf="name.errors.required">
                  Please enter filter name
                </div>
              </div>
              <div *ngIf="(name.dirty || name.touched) && (filter.name != undefined)">
                <div *ngIf="filter.name.length == 100" class="text-info">
                  Filter name can not exceed 100 characters
                </div>
              </div>
              <div *ngIf="isExisted" class="text-danger">
                Filter "{{filter.name}}" in "{{filter.language}}" is existed
              </div>
            </div>
            <div class="col-sm-2">
              <label>
                Language<span class="text-danger">*</span>
              </label>
              <select class="form-control" name="language" #language="ngModel" [(ngModel)]="filter.language" required
                (change)="checkIsExisted()" [ngClass]="{'is-invalid': isExisted}">
                <option *ngFor="let l of lang" [value]="l">{{l}}</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label>Include / Exclude</label>
              <div class="custom-control custom-switch text-primary">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="exclude" #exclude="ngModel"
                  [(ngModel)]="filter.exclude">
                <label class="custom-control-label" for="customSwitch1">
                  <span *ngIf="filter.exclude">Exclude</span>
                  <span *ngIf="!filter.exclude">Include</span>
                </label>
              </div>
            </div>
          </div>
        </form>
        <!--Heading-->
        <div class="row heading bg-primary text-gray-100 nopadding">
          <div class="col-sm-11">
            Word
          </div>
          <div class="col-sm-1 nopadding">
          </div>
        </div>
        <!--Row-->
        <div class="listItem scrollbar-primary">
          <div *ngIf="words.length == 0" class="d-flex justify-content-center">
            <h4>Filter word list is empty</h4>
          </div>
          <div class="row rowpadding" *ngFor="let word of words; let i = index">

            <div class="col-sm-11">
              {{word.name}}
            </div>
            <div class="col-sm-1">
              <button class="btn btn-danger" (click)="removeWord(i)"><i class="fa fa-trash"></i></button>
            </div>
          </div>


        </div>
        <form #wordForm="ngForm" autocomplete="off">
          <div class="row" style="padding-top: 12px">
            <div class="col-sm-11 center">
              <label>
                Word
              </label>
              <input type="text" class="form-control" name="word" #word="ngModel" [(ngModel)]="currentWord.name"
                placeholder="Input Word" required (input)="checkDuplicateWord()" maxlength="50"
                [ngClass]="{'is-invalid': ((word.invalid) && (word.dirty || word.touched)) || isWordDuplicate}" />
              <div *ngIf="(word.invalid) && (word.dirty || word.touched)" class="text-danger">
                <div *ngIf="word.errors.required">
                  Please enter word
                </div>
              </div>
              <div *ngIf="(word.dirty || word.touched) && (currentWord.name != undefined)">
                <div *ngIf="currentWord.name.length == 50" class="text-info">
                  Word can not exceed 50 characters
                </div>
              </div>
              <div *ngIf="isWordDuplicate" class="text-danger">
                This word is existed in the filter
              </div>
            </div>
            <div class="col-sm-1 center">
              <label> &nbsp;</label>
              <button type="button" class="btn btn-info" (click)="addWordToList(wordForm)"
                [disabled]="!wordForm.form.valid || isWordDuplicate"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6">
          <h4><span class="badge badge-pill badge-success" *ngIf="requestStatus == 201">Success</span></h4>
          <h4><span class="badge badge-pill badge-danger" *ngIf="requestStatus == 400">Fail</span></h4>
        </div>
        <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
          <button type="button" class="btn btn-success" (click)="save()"
            [disabled]="(requestStatus ==1) || filterForm.form.invalid || (words.length == 0)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              *ngIf="requestStatus == 1"></span>

            <span *ngIf="requestStatus == 0 && !isEdit">Save</span>
            <span *ngIf="requestStatus == 0 && isEdit">Modify</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
