<div class="">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Word Cloud Filter</h5>
        <button type="button" class="close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #filterForm="ngForm">
          <div class="row form-group">
            <div class="col-sm-9">
              <label>
                Filter Name<span class="text-danger">*</span>
              </label>
              <input class="form-control" name="name" #name="ngModel" [(ngModel)]="filter.name" required
                [ngClass]="{'is-invalid': ((name.invalid) && (name.dirty || name.isTouched)) || isExisted}" (input)="checkIsExisted()"
                placeholder="Input Filter name" />
              <div *ngIf="(name.invalid) && (name.dirty || name.isTouched)" class="text-danger">
                <div *ngIf="name.errors.required">
                  Please enter filter name
                </div>
              </div>
              <div *ngIf="isExisted" class="text-danger">
                Filter "{{filter.name}}" in "{{filter.language}}" is existed
              </div>
            </div>
            <div class="col-sm-3">
              <label>
                Language<span class="text-danger">*</span>
              </label>
              <select class="form-control" name="language" #language="ngModel" [(ngModel)]="filter.language"
                required (change)="checkIsExisted()"
                [ngClass]="{'is-invalid': isExisted}">
                <option *ngFor="let l of lang" [value]="l">{{l}}</option>
              </select>
            </div>
          </div>
        </form>
        <!--Heading-->
        <div class="row heading bg-primary text-gray-100 nopadding">
          <div class="col-sm-7">
            Word
          </div>
          <div class="col-sm-4 d-flex justify-content-center">
            Include/Exclude
          </div>
          <div class="col-sm-1 nopadding">
          </div>
        </div>
        <!--Row-->
        <div class="listItem scrollbar-primary">
          <div *ngIf="words.length == 0" class="d-flex justify-content-center">
            <h4>Filter word list is empty</h4>
          </div>
          <div class="row rowpadding" *ngFor="let word of words; let i = index">

            <div class="col-sm-7">
              {{word.name}}
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
              <span *ngIf="!word.isExclude">Include</span>
              <span *ngIf="word.isExclude">Exclude</span>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-danger" (click)="removeWord(i)"><i class="fa fa-trash"></i></button>
            </div>
          </div>


        </div>
        <form #wordForm="ngForm" autocomplete="off">
          <div class="row" style="padding-top: 12px">
            <div class="col-sm-7 center">
              <label>
                Word
              </label>
              <input type="text" class="form-control" name="word" #word="ngModel" [(ngModel)]="currentWord.name"
                placeholder="Input Word" required (input)="checkDuplicateWord()"
                [ngClass]="{'is-invalid': ((word.invalid) && (word.dirty || word.isTouched)) || isWordDuplicate}" />
              <div *ngIf="(word.invalid) && (word.dirty || word.isTouched)" class="text-danger">
                <div *ngIf="word.errors.required">
                  Please enter word
                </div>
              </div>
              <div *ngIf="isWordDuplicate" class="text-danger">
                This word is existed in the filter
              </div>
            </div>
            <div class="col-sm-4 center">
              <label class="d-flex justify-content-center">
                <span class="badge" [ngClass]="{'badge-primary': !this.currentWord.isExclude}" (click)="includeExclude()">Include</span>
                <i class="fas fa-arrows-alt-h"
                  style="margin-top:auto; margin-bottom: auto; margin-left: 2px; margin-right: 2px"></i>
                <span class="badge" [ngClass]="{'badge-primary': this.currentWord.isExclude}" (click)="includeExclude()">Exclude</span>
              </label>


            </div>
            <div class="col-sm-1 center">
              <label> &nbsp;</label>
              <button type="button" class="btn btn-info" (click)="addWordToList(wordForm)"
                [disabled]="!wordForm.form.valid || isWordDuplicate"><i class="fas fa-plus"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6">
          <h4><span class="badge badge-pill badge-success" *ngIf="requestStatus == 201">Success</span></h4>
          <h4><span class="badge badge-pill badge-danger" *ngIf="requestStatus == 400">Fail</span></h4>
        </div>
        <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
          <button type="button" class="btn btn-success" (click)="save()"
            [disabled]="(requestStatus ==1) || filterForm.form.invalid || (words.length == 0)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              *ngIf="requestStatus == 1"></span>

            <span *ngIf="requestStatus == 0 && !isEdit">Save</span>
            <span *ngIf="requestStatus == 0 && isEdit">Modify</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
