.listItem {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.nopadding{
  padding: 0px;
}
.rowpadding{
  padding-top: 5px;

}
.heading{
  padding-top: 10px;
  padding-bottom: 10px;
}
.center {
  margin:auto;
}
.badge {
  font-size: 90%;
}
