<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">OFFICE LINK</h1>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name = "email" #email = "ngModel"  id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address"  [(ngModel)]= "account.email"
                    [ngClass]="{'is-invalid' : (email.invalid && (email.dirty || email.touched))}" required
                    >
                    <div *ngIf="email.errors &&(email.touched || email.dirty)" class ="text-danger">
                      <div *ngIf="email.errors.required">
                          Email required
                        </div>
                    <div [hidden]="!email.errors?.pattern">
                      Email invalid
                    </div>
                   </div>
                  </div>
                  <div class="form-group">
                    <input type="password" name = "password" #password = "ngModel" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"  [(ngModel)]= "account.password"
                    [ngClass]="{'is-invalid' : (password.invalid && (password.dirty || password.touched))}" required
                    >
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                      <div *ngIf="password.errors.required">
                        Password required
                      </div>
                    </div>
                  </div>
                  <div *ngIf="isError" class="text-danger form-group d-flex justify-content-center">
                    Your email or password is not right
                  </div>
                  <button class="btn btn-primary btn-user btn-block" (click) = "login()">
                    Login
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="/forget">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
