<button class="btn btn-primary btn-icon-split" (click)="close()">
  <span class="icon">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </span>
  <span class="text">Back</span>
</button>
<div class="modal-lg modal-dialog" style="margin-top: 2px">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-sm-10 noPadding">
        <form #surveyForm="ngForm">
          <input type="text" placeholder="Survey Title" class="form-control" name="title" #title="ngModel" [(ngModel)]="survey.name" required
            [ngClass]="{'is-invalid': (title.invalid && (title.dirty || title.touched))}" maxlength="150" />
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                <div *ngIf="title.errors.required">
                  Please input your survey title
                </div>

              </div>
              <div *ngIf="(title.dirty || title.touched) && (survey.name != undefined)">
                <div *ngIf="survey.name.length == 150" class="text-primary">
                  Survey title can not exceed 150 characters
                </div>
              </div>
        </form>

      </div>
      <div class="col-sm-2 d-flex justify-content-end noPadding">
        <button class="btn btn-success" (click)="save()" *ngIf="!isEdit">Create</button>
        <button class="btn btn-success" (click)="save()" *ngIf="isEdit">Update</button>
      </div>
    </div>
    <div class="">
      <div *ngFor="let question of survey.questions; let i = index">
        <app-question [quest]="question" [index]="i" [lastIndex]="survey.questions.length - 1"
          (updateEditMode)="updateEditMode()" (giveClassToParent)="getChildInfor($event)" (copyQ)="copyQ($event)"
          (deleteQ)="deleteQ($event)" (moveUpQ)="moveUpQ($event)" (moveDownQ)="moveDownQ($event)">
        </app-question>
        <hr>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="addQuestion()">Add New Question</button>
      <button class="btn btn-primary" (click)="openChooseQuestion()">Choose From Bank</button>
    </div>
  </div>
</div>

