<button class="btn btn-primary btn-icon-split" (click)="close()">
  <span class="icon">
      <i class="fas fa-arrow-alt-circle-left"></i>
  </span>
  <span class="text">Back</span>
</button>
<div class="modal-lg modal-dialog" style="margin-top: 2px">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-sm-10 noPadding">
        <input type="text" placeholder="Survey Title" class="form-control" [(ngModel)]="survey.name" />
      </div>
      <div class="col-sm-2 d-flex justify-content-end noPadding">
        <button class="btn btn-success" (click)="save()" *ngIf="!isEdit">Create</button>
        <button class="btn btn-success" (click)="save()" *ngIf="isEdit">Update</button>
      </div>
    </div>
    <div class="">
      <div *ngFor="let question of survey.questions; let i = index">
        <app-question [quest]="question" [index]="i" [lastIndex]="survey.questions.length - 1" (updateEditMode)="updateEditMode()"
          (giveClassToParent)="getChildInfor($event)" (copyQ)="copyQ($event)" (deleteQ)="deleteQ($event)"
          (moveUpQ)="moveUpQ($event)" (moveDownQ)="moveDownQ($event)"
          >
        </app-question>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="addQuestion()">Add New Question</button>
      <button class="btn btn-primary" (click)="openChooseQuestion()">Choose From Bank</button>
    </div>
  </div>
</div>
