<button class="btn btn-primary btn-icon-split" (click)="back()">
  <span class="icon">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </span>
  <span class="text" >Back to list</span>
</button>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold">Create Location</h5>
    </div>
    <div class="modal-body">
      <form #locationForm="ngForm">
        <div class="form-group">
          <label style="font-weight: bold">Name</label>
          <input class="form-control" name="name" placeholder="Fill in name" #name="ngModel" style="width: 50%"
            [(ngModel)]="location.name" [ngClass]="{'is-invalid' : (name.invalid && (name.dirty || name.touched))}"
            required (keyup)="wordCountName(location.name)" />
          <span>{{ countName }} words left</span>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <div *ngIf="name.errors.required">
              Please fill in name
            </div>
          </div>
          <div *ngIf="isName" class="text-danger">
            This name is too long
          </div>
        </div>
        <div class="form-group">
          <label style="font-weight: bold">Address</label>
          <input type="text" class="form-control" name="address" (keydown.enter)="$event.preventDefault()"
            placeholder="Fill in address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search
            [(ngModel)]="location.address" #address="ngModel" style="width: 70%"
            [ngClass]="{'is-invalid' : (address.invalid && (address.dirty || address.touched))}" required>
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
            <div *ngIf="address.errors.required">
              Please fill in address
            </div>
          </div>
        </div>

        <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="zoom" style="height: 300px">
          <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
        </agm-map>
      </form>
    </div>
    <div class="modal-footer">
      <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
        <button type="button" class="btn btn-success" (click)="create(locationForm)"
          [disabled]="!locationForm.form.valid || (requestStatus == 1) || isName">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            *ngIf="requestStatus == 1"></span>
          <span *ngIf="requestStatus != 1">Create</span>
        </button>
      </div>
    </div>
  </div>
</div>
