<div class="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Location</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #locationForm="ngForm">
          <div class="form-group">
            <label>Address</label>
            <input class="form-control" name="address" #name="ngModel" [(ngModel)]="location.address"
              [ngClass]="{'is-invalid' : (name.invalid && (name.dirty || name.touched))}" required />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
              <div *ngIf="name.errors.required">
                Address required
              </div>
            </div>
          </div>
        </form>
        <form #locationForm="ngForm">
          <div class="form-group">
            <label>County</label>
            <input class="form-control" name="county" #name="ngModel" [(ngModel)]="location.county"/>
          </div>
        </form>
        <form #locationForm="ngForm">
          <div class="form-group">
            <label>City</label>
            <input class="form-control" name="city" #name="ngModel" [(ngModel)]="location.city"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6">
          <h4><span class="badge badge-pill badge-success" *ngIf="requestStatus == 200">Success</span></h4>
          <h4><span class="badge badge-pill badge-danger" *ngIf="requestStatus == 400">Fail</span></h4>
          <h4><span class="badge badge-pill badge-success" *ngIf="requestStatus == 201">Created</span></h4>
        </div>
        <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
          <button type="button" class="btn btn-success" (click)="save()" [disabled]="(requestStatus ==1)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              *ngIf="requestStatus == 1"></span>
            <span *ngIf="isEdit == false && requestStatus != 1">Create</span>
            <span *ngIf="isEdit == true && requestStatus != 1">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>