<div class="container ">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center" *ngIf="account.deleted == false">
              <h1 class="h4 text-gray-900 mb-4">Join Now</h1>
            </div>
            <form class="user" *ngIf="account.deleted == false">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" name="firstname" #firstname="ngModel"
                    placeholder="First Name" [(ngModel)]=account.firstname
                    [ngClass]="{'is-invalid' : (firstname.invalid && (firstname.dirty || firstname.touched))}" required
                    />
                  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
                    <div *ngIf="firstname.errors.required">
                      First name required
                    </div>
                  

                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" name="lastname" #lastname="ngModel"
                    placeholder="Last Name" [(ngModel)]=account.lastname
                    [ngClass]="{'is-invalid' : (lastname.invalid && (lastname.dirty || lastname.touched))}" required
                    />
                  <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
                    <div *ngIf="lastname.errors.required">
                      Last name required
                    </div>
                 
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" class="form-control form-control-user"
                  name="email" #email="ngModel" placeholder="Email"
                  [(ngModel)]=account.email disabled
                  [ngClass]="{'is-invalid' : (email.invalid && (email.dirty || email.touched))}">
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="exampleFirstName"
                    placeholder="Password" name="password" #password="ngModel" [(ngModel)]="account.password"
                    [ngClass]="{'is-invalid' : (password.invalid && (password.dirty || password.touched))}" required
                    minlength="6" maxlength="15" />
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                    <div *ngIf="password.errors.required">
                      Password required
                    </div>

                    <div *ngIf="password.errors.minlength || password.errors.maxlength">
                      Password must be 6-15 characters
                    </div>

                  </div>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="exampleLastName"
                    placeholder="Confirm" name="confirmPass" #confirmPass="ngModel" [(ngModel)]="confirmPassText"
                    [ngClass]="{'is-invalid' : (confirmPass.invalid && (confirmPass.dirty || confirmPass.touched))}"
                    required minlength="6" maxlength="15" pattern="{{account.password}}" />
                  <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">                   
                    <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="text-danger">
                      <div *ngIf="confirmPass.errors.pattern">
                        Confirm passsword is different from password
                      </div>
                    </div>


                  </div>
                </div>
              </div>
          

              <button class="btn btn-primary btn-user btn-block" (click)="register()">
                Sign Up
              </button>

            </form>
            <div *ngIf="account.deleted == true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Office Link </h5>
                      </div>
                      <div class="modal-body">
                        <form class="text-danger">
                            Your account cannot join the system. Please contact to: officelinksup@gmail.com for support
                        </form>
                      </div>
                      <div class="modal-footer">
                        
                        <div class="col-sm-6 d-flex justify-content-end" style="padding: 0px">
                          <button hr type="button" class="btn btn-success" (click)="goLogin()" >
                           OK
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>                 

            </div>
            <hr>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
