<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                  <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name = "newPassword" #newPassword = "ngModel" placeholder="New password" [(ngModel)] = "newPass"
                    [ngClass]="{'is-invalid' : (newPassword.invalid && (newPassword.dirty || newPassword.touched))}" required
                      minlength="6" maxlength="15"
                  />
                  <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger">
                    <div *ngIf="newPassword.errors.required">
                      New password required
                    </div>

                    <div *ngIf="newPassword.errors.minlength || newPassword.errors.maxlength" class="text-danger">
                      New password must be 6-15 characters
                    </div>

                  </div>                

                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name = "cofirmPass" #cofirmPass = "ngModel" placeholder="Confirm new password" [(ngModel)] = "confirmNewPass"
                    [ngClass]="{'is-invalid' : (cofirmPass.invalid && (cofirmPass.dirty || cofirmPass.touched))}" required
                      minlength="6" maxlength="15"
                  />
                  <div *ngIf="cofirmPass.invalid && (cofirmPass.dirty || cofirmPass.touched)" class="text-danger">
                    <div *ngIf="cofirmPass.errors.required">
                      Confirm password required
                    </div>

                    <div *ngIf="cofirmPass.errors.minlength || cofirmPass.errors.maxlength" class="text-danger">
                      Confirm password must be 6-15 characters
                    </div>

                  </div>

                  </div>
    
                  <button    class="btn btn-primary btn-user btn-block" (click)="changePassword()">
                    Change password
                  </button>
    
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="">Create an Account!</a>
                </div>
                <div class="text-center">
                  <a class="small" href="/login">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
